<!-- <form action="" #myForm="ngForm">

  <label for="">nome</label>
  <input
    class="form-control form-control-lg"
    type="text"   
    name="nome"
    [(ngModel)]="nome"
    required
    #nome="ngModel"  
    pattern="^[A-Za-z ]+$"  
    placeholder="nome"
  />

  <span *ngIf="nome.invalid && nome.touched" class="">

    Inserire solo lettere.
    <div *ngIf="nome.invalid && nome.touched">
 
    </div>
  </span>

  <label for="">prezzo</label>
  <input
    class="form-control form-control-lg"
    type="text"
    placeholder="prezzo"
    name="prezzo"
    [(ngModel)]="prezzo"
  />

  <label for="">Url Foto</label>
  <input
    class="form-control form-control-lg"
    type="text"
    placeholder="url"
    name="foto"
    [(ngModel)]="foto"
  />



  <div class="uno">    
    <select [(ngModel)]="colore" id="colore" name="colore">
      <option *ngFor="let colore of colori" [value]="colore">
        {{ colore }}
      </option>
    </select>
    <label for="">colore</label>
  </div>

  <div class="uno"> 
    <select [(ngModel)]="taglia" id="taglia" name="taglia">
      <option *ngFor="let taglia of taglie" [value]="taglia">
        {{ taglia }}
      </option>
    </select>
    <label for="">taglia</label>
  </div>

  <div class="uno">    
    <select name="quantita" id="quantita" [(ngModel)]="quantita">
      <option *ngFor="let q of quantitaScarpe" [value]="q">{{ q }}</option>
    </select>
    <label for="">quantita</label>
  </div>

  <div class="bottoni">
    <button (click)="addy3()" (click)="addForm(myForm)">Aggiungi</button>
    <button>torna indietro</button>
  </div>
</form>

<p>{{ nome }}</p> -->



<form #myForm="ngForm" (ngSubmit)="addForm(myForm)" >
  <div>
    <label for="nome">Nome:</label>
    <input type="text" id="nome" name="nome" ngModel required pattern="[a-zA-Z ]*">
  </div>
  <div>
    <label for="prezzo">Prezzo:</label>
    <input type="number" id="prezzo" name="prezzo" ngModel required min="1" max="1000">
  </div>
  <div>
    <label for="taglia">Taglia:</label>
    <input type="number" id="taglia" name="taglia" ngModel required min="38" max="44">
  </div>
  <div>
    <label for="disponibilita">Disponibilità:</label>
    <input type="checkbox" id="disponibilita" name="disponibilita" ngModel>
  </div>
  <!-- <div>
    <label for="colori">Colori:</label>
    <input type="text" id="colori" name="colori" ngModel  > </div>-->
    <label for="colori">Colori:</label>
    <select [(ngModel)]="colore">
      <option *ngFor="let colore of colori" [value]="colore">{{ colore }}</option>
    </select>

    <div> 

    <label for="quantita">Quantità:</label>
    <input type="number" id="quantita" name="quantita" ngModel required min="0">
  </div>
  <div>
    <label for="foto">Foto:</label>
    <input type="text" id="foto" name="foto" ngModel required pattern="https?://.*">
  </div>
  <button type="submit" (click)="addy3()">Invia</button>
</form>