<h3>Richieste ITunes</h3>

<form (ngSubmit)="makeRequest(selectedValue)" #myForm="ngForm">  

  <input placeholder="inserisci il nome di una canzone" class="form-control" type="text" name="request" id="request" [(ngModel)]="request" /> 
  <select  class="form-select" name="option" [(ngModel)]="selectedValue" required>
    <option *ngFor="let option of quantita"  [value]="option" >{{ option }}</option>
  </select>  
  <button class="btn btn-primary" type="submit" >HO SI, CLICCAMI!!</button>

</form>

<div class="container m-3">
  <table class="table  m-3">
    <thead>
      <tr>
        <th scope="col">Copertina</th>
        <th scope="col">Titolo</th>
        <th scope="col">Artista</th>
        <th scope="col">Genere</th>
        <th scope="col">Ascolta</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let card of this.data2">
        <td><img src="{{ card.artworkUrl60 }}" alt="" /></td>
        <td>{{ card.trackName }}</td>
        <td>{{ card.artistName }}</td>
        <td [ngSwitch]="card.primaryGenreName">
          <div *ngSwitchCase="'Rock'" class="rock" ><b>{{card.primaryGenreName}}</b></div>
          <div *ngSwitchCase="'Pop'" class="pop" ><b>{{card.primaryGenreName}}</b></div>
          <div *ngSwitchDefault class="default" ><b>{{card.primaryGenreName}}</b></div>
        </td>
        <td>
          <audio controls>
            <source src="{{ card.previewUrl }}" />
          </audio>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div [ngClass]='error ? "err1" : "err2"'> <h3>Errore! c'è un problema con il Server.</h3></div>